<div class="full-container">
  <div class="left-side w-full">
    <div class="d-flex items-center logo">
      <img src="images/morphos-logo.svg" alt="Logo" />
      <span>Morphos</span>
    </div>
  </div>
  <div class="right-side d-flex w-full justify-center items-center">
    <div class="form-container">
      <div class="container-auth-title">
        <h1 class="text-center">Inicia sesión en tu cuenta</h1>
        <p class="text-center">
          Selecciona el método con el que quieres iniciar sesión
        </p>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
