<div class="layout-split-screen">
  <div class="layout-split-screen__left layout-full-width">
    <div class="logo-brand">
      <img src="images/morphos-logo.svg" alt="Logo" class="logo-brand__image" />
      <span class="logo-brand__text">Morphos</span>
    </div>
  </div>
  <div class="layout-split-screen__right layout-full-width">
    <div class="form-container">
      <div class="form-section-title">
        <h1 class="form-section-title__heading">Inicia sesión en tu cuenta</h1>
        <p class="form-section-title__description">
          Selecciona el método con el que quieres iniciar sesión
        </p>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
