@if (hasError()) {
<div class="error-message">
  <p-message severity="error">{{ errorMessage() }}</p-message>
</div>
}
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-container">
    <div class="container-input">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="orgCode"
          formControlName="orgCode"
          placeholder="Código de empresa"
          name="orgCode"
          pSize="large"
          required
          fluid="true"
          [invalid]="loginForm.get('orgCode')?.errors?.['required'] && loginForm.get('orgCode')?.touched"
        />
        <label for="orgCode">Código de empresa</label>
      </p-floatlabel>
      @if (loginForm.get('orgCode')?.errors?.['required'] &&
      loginForm.get('orgCode')?.touched) {
      <p-message severity="error" variant="simple" size="small"
        >El código de empresa es requerido</p-message
      >
      }
    </div>

    <div class="container-input">
      <p-floatlabel variant="on">
        <input
          pInputText
          type="text"
          id="username"
          formControlName="username"
          placeholder="Nombre de usuario"
          name="username"
          pSize="large"
          fluid="true"
          required
          [invalid]="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched"
        />
        <label for="username">Nombre de usuario</label>
      </p-floatlabel>
      @if (loginForm.get('username')?.errors?.['required'] &&
      loginForm.get('username')?.touched) {
      <p-message severity="error" variant="simple" size="small"
        >El nombre de usuario es requerido</p-message
      >
      }
    </div>
    <div class="container-input">
      <div class="password-container">
        <p-floatlabel variant="on">
          <p-password
            size="large"
            [toggleMask]="true"
            [feedback]="false"
            placeholder="Contraseña"
            class="w-full"
            fluid="true"
            id="password"
            formControlName="password"
            name="password"
            required
            [invalid]="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
          />
          <label for="password">Contraseña</label>
        </p-floatlabel>

        @if (loginForm.get('password')?.errors?.['required'] &&
        loginForm.get('password')?.touched) {
        <p-message severity="error" variant="simple" size="small"
          >La contraseña es requerida</p-message
        >
        }
      </div>
    </div>

    <div class="forget-password-container">
      <p-confirmdialog draggable="false" defaultFocus="none" />
      <a class="forget-link" (click)="showModal($event)"
        >¿Olvidaste tu contraseña?</a
      >
    </div>
    <p-button
      label="Iniciar sesión"
      size="large"
      fluid="true"
      severity="contrast"
      class="text-button"
      styleClass="custom-btn"
      type="submit"
      [loading]="isLoading()"
    />
  </div>
</form>
<div class="mt-1">
  <p-button
    label="Iniciar sesión como administrador"
    severity="contrast"
    class="text-button"
    size="large"
    fluid="true"
    variant="text"
    (click)="router.navigate(['/login-root'])"
  />
</div>
